torch==2.4.0
torchvision==0.18.1+cu118
efficientnet_pytorch==0.7.1
numpy==1.26.4
opencv-python==4.11.0.86
Pillow==10.3.0
scikit-learn==1.6.1
scipy==1.15.2
matplotlib==3.10.0
seaborn==0.13.2
tqdm==4.67.1

### Gradio 网页界面
gradio==5.25.0
gradio_client==1.8.0

### 辅助工具
pyngrok==7.2.3  # 可选，仅本地调试需要
